<app-page-title title="Unsere Dienstleistungen"></app-page-title>
<div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">

    <div class="card" style="width: 15rem;">
        <img src="assets/infrastruktur.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infrastruktur</h5>
            <p class="card-text">Server, Netzwerke, Virtualisierung, Cloud</p>
            <a href="#" class="btn btn-primary">Erfahren Sie mehr</a>
        </div>
    </div>
    
    <div class="card" style="width: 15rem;">
        <img src="assets/sicherheit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sicherheit</h5>
            <p class="card-text">Firewall, VPN, Backup, Virenschutz, Audits</p>
            <a href="#" class="btn btn-primary">Erfahren Sie mehr</a>
        </div>
    </div>
    
    <div class="card" style="width: 15rem;">
        <img src="assets/entwicklung.avif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entwicklung</h5>
            <p class="card-text">Web-, Mobile- & Desktop-Apps, Schnittstellen</p>
            <a href="#" class="btn btn-primary">Erfahren Sie mehr</a>
        </div>
    </div>
    
    <div class="card" style="width: 15rem;">
        <img src="assets/cloud.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Web & Cloud</h5>
            <p class="card-text">Webseiten, Hosting, Microsoft 365</p>
            <a href="#" class="btn btn-primary">Erfahren Sie mehr</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/beratung.avif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Beratung</h5>
            <p class="card-text">IT-Strategie, Prozessoptimierung, DSGVO</p>
            <a href="#" class="btn btn-primary">Erfahren Sie mehr</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/services.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Managed Services</h5>
            <p class="card-text">Monitoring, Wartung, Helpdesk, Updatese</p>
            <a href="#" class="btn btn-primary">Erfahren Sie mehr</a>
        </div>
    </div>
</div>