<!-- UNDER CONSTRUCTION SEITE -->
<div class="page" *ngIf="isUnderConstruction;">
  <app-maintenance></app-maintenance>
</div>

<!-- NORMALE SEITE -->

<div class="page" *ngIf="!isUnderConstruction;">
  @if(router.url !== '/preview') {
  <app-header class="site-header"></app-header>


  <main id="main" class="site-main" role="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-footer class="site-footer"></app-footer>

  }@else {
  <router-outlet></router-outlet>
  }
</div>

<app-toast-container></app-toast-container>