/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  /* Sicherer Abstand für mobile Geräte */
  padding-right: 1rem;

  @media (min-width: 768px) {
    padding-left: 2rem; /* Mehr Abstand für größere Bildschirme */
    padding-right: 2rem;
  }
}